/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

/* ------------------------------------- */
/* HOMEPAGE */
/* ------------------------------------- */
h2 {
  /* -webkit-filter: brightness(1.75); */
  /* filter: brightness(1.75); */
  font-size: 10rem;
  padding: 2.5rem 2.5rem 0 2.5rem;
  /* background: -o-linear-gradient(
    210deg,
    var(--secondary-color),
    var(--main-lightblack)
  );
  background: -o-linear-gradient(
    240deg,
    var(--secondary-color),
    var(--main-lightblack)
  );
  background: linear-gradient(
    210deg,
    var(--secondary-color),
    var(--main-lightblack)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.un-spin {
  display: none;
  font-size: 8rem;
}

.spin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spin span {
  opacity: 0;
  -webkit-transform: rotate(-360deg) scale(0.7);
  -ms-transform: rotate(-360deg) scale(0.7);
  transform: rotate(-360deg) scale(0.7);
  -webkit-animation: animateLetters 2s forwards;
  animation: animateLetters 2s forwards;
}

.spin span:nth-of-type(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.spin span:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.spin span:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.spin span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.spin span:nth-of-type(5) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.spin span:nth-of-type(6) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.spin span:nth-of-type(7) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.spin span:nth-of-type(8) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.spin span:nth-of-type(9) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.spin span:nth-of-type(10) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.spin span:nth-of-type(11) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes animateLetters {
  40% {
    -webkit-transform: rotate(450deg) scale(0.7);
    transform: rotate(450deg) scale(0.7);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateLetters {
  40% {
    -webkit-transform: rotate(450deg) scale(0.7);
    transform: rotate(450deg) scale(0.7);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: showIcons ease 3s forwards;
  animation: showIcons ease 3s forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons li {
  padding: 0 1rem;
}

.icons a {
  color: var(--main-brightblue);
  font-size: 3rem;
  margin: 1.5rem;
  padding: 0.5rem;
}

.icons a {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icons a:hover {
  color: var(--secondary-color);
}

@-webkit-keyframes showIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .spin {
    display: none;
  }

  .un-spin {
    display: block;
    text-align: center;
    font-size: 7rem;
    padding: 0;
  }
}

/* ------------------------------------- */
/* PROJECTS */
/* ------------------------------------- */
#projects-card {
  width: 100%;
  min-height: 100vh;
  background: var(--main-black);
  background: -o-radial-gradient(
    circle,
    var(--main-darkblue) 0%,
    var(--main-black) 100%
  );
  background: radial-gradient(
    circle,
    var(--main-darkblue) 0%,
    var(--main-black) 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#projects-card h3 {
  color: var(--main-white);
  padding-bottom: 6rem;
  font-family: var(--secondary-font), sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.projects-grid {
  width: 80%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 10rem;
  justify-items: center;
}

.grid-item {
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inner {
  overflow: hidden;
  border: 3px solid var(--main-lightblack);
  border-radius: 10%;
  height: 250px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-shadow: 5px 5px 25px var(--main-black);
  box-shadow: 5px 5px 25px var(--main-black);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.desc {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.grid-item h5 {
  padding: 5%;
  text-align: center;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  width: 100%;
  color: var(--main-darkblue);
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-shadow: 1px 2px 0.5px rgba(0, 0, 0, 0.5);
}

.desc p {
  text-align: center;
  color: var(--main-white);
  font-size: 2rem;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.desc button {
  background: var(--main-blue);
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--main-brightblue);
  font-size: 2rem;
  margin: 10px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: transparent;
}

.grid-item:hover .desc > button,
.grid-item:hover .desc > p {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.grid-item button:hover {
  background: var(--main-darkblue);
  color: var(--secondary-color);
}

.grid-item:hover h5 {
  color: var(--main-blue);
  text-shadow: 0.5rem 0.5rem 0.5rem var(--main-black);
}

.grid-item a:hover {
  color: var(--main-darkblue);
}

.grid-item:hover .inner {
  border: 3px solid var(--secondary-color);
}

.grid-item:hover .desc {
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  #projects-card {
    padding: 4rem 0;
  }
  #projects-card h3 {
    text-align: center;
    width: 90%;
  }
  .projects-grid {
    gap: 5rem;
    padding: 2rem 0;
  }
}

@media (max-width: 700px) {
  .grid-item {
    width: 60%;
  }
  .inner .desc {
    background: rgba(0, 0, 0, 0.5);
  }
  .inner .desc p {
    display: none;
  }
  .inner .desc button {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: var(--main-darkblue);
    color: var(--secondary-color);
    padding: 1.5rem 3.5rem;
    -webkit-box-shadow: 1px 2px 5px var(--main-black);
    box-shadow: 1px 2px 5px var(--main-black);
  }
}

@media (max-width: 500px) {
  .grid-item {
    width: 100%;
  }
}

/* ------------------------------------- */
/* ABOUT */
/* ------------------------------------- */
#about-card {
  width: 100%;
  min-height: 100vh;
  background: var(--main-darkblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding: 0 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  color: var(--main-white);
}

.about h3 {
  font-family: var(--secondary-font), sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  padding-bottom: 20px;
  color: var(--main-blue);
}

.about hr {
  width: 25%;
  margin-bottom: 50px;
  height: 3px;
  background: var(--secondary-color);
  border-radius: 3px;
  border: none;
}

.about p {
  width: 75%;
  margin-bottom: 5rem;
}

.about strong {
  -webkit-filter: brightness(1.05);
  filter: brightness(1.05);
}
.prof-pic {
  border-radius: 50%;
  margin: 25px auto;
  width: 135px;
  height: 175px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}
.resume {
  font-family: var(--secondary-font), sans-serif;
  text-decoration: none;
  font-size: 3rem;
  color: var(--main-blue);
  padding: 5px;
  margin: 15px 0 50px 0;
  border-radius: 3px;
  position: relative;
}

.resume svg {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.resume:hover {
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: navHighlight 1s ease forwards;
  animation: navHighlight 1s ease forwards;
}

.resume:hover svg {
  -webkit-transform: rotate(25deg) scale(1.25);
  -ms-transform: rotate(25deg) scale(1.25);
  transform: rotate(25deg) scale(1.25);
}

.resume:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  margin: auto;
  content: "";
  background: var(--secondary-color);
  height: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.resume:hover:after {
  width: 100%;
}

@media (max-width: 700px) {
  .about {
    padding: 4rem 0 0 0;
  }
  .about p {
    width: 90%;
    margin-bottom: 5rem;
  }
  .about h3 {
    padding: 0 2rem;
  }
  .about hr {
    width: 50%;
    height: 2px;
    margin-top: 1rem;
  }
}

/* ----------------------------------------------- */
/* CONTACT */
/* ----------------------------------------------- */
#contact-card {
  background: var(--main-darkblue);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.contact-wrapper {
  width: 100%;
  background: var(--main-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 150px 0;
  -webkit-clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.contact-wrapper h3 {
  color: var(--main-white);
  font-family: var(--secondary-font), sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  padding: 50px;
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 80%;
}

/* ----------------------------------------------- */
/* CONTACT FORM */
/* ----------------------------------------------- */
form {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 20px;
}

input,
textarea {
  font-family: var(--primary-font), sans-serif;
  background: var(--main-white);
  font-size: 2rem;
  width: 75%;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  border: none;
}

textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--secondary-color);
}

.submit {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: var(--secondary-font), sans-serif;
  background: var(--main-lightblack);
  color: var(--main-brightblue);
  border: 2px solid var(--main-white);
  border-radius: 3px;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  background: var(--main-blue);
  color: var(--main-brightblue);
  cursor: pointer;
  border: 2px solid var(--main-blue);
}

.success-sent {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-height: 450px;
  width: 90%;
  background: -o-radial-gradient(
    farthest-side,
    var(--main-darkblue) 0%,
    var(--main-black) 75%
  );
  background: radial-gradient(
    farthest-side,
    var(--main-darkblue) 0%,
    var(--main-black) 75%
  );
  padding: 4rem 2rem 4rem 0;
}

.success-sent p {
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

/* ----------------------------------------------- */
/* CONTACT LIST */
/* ----------------------------------------------- */
.contact-icons {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: var(--primary-font), sans-serif;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.contact-icons ul {
  list-style-type: none;
  font-size: 1.3rem;
}

.contact-icons a {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--main-brightblue);
  text-decoration: none;
  padding: 10px;

  -webkit-transition: color 0.4s ease;

  -o-transition: color 0.4s ease;

  transition: color 0.4s ease;
}
.contact-icons svg {
  margin-right: 1rem;
  font-size: large;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact-icons a:hover {
  color: var(--secondary-color);
}

.contact-icons a:hover > svg {
  margin-right: 15px;
}

@media (max-width: 1000px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  form {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
  }
  .contact-icons {
    padding-top: 4rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  input,
  textarea {
    width: 90%;
  }
}

@media (max-width: 700px) {
  form {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}
