/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Poppins";
  src: url("../components/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../components/assets/fonts/MontserratAlternates-Regular.ttf");
}

:root {
  --main-black: #121212;
  --main-white: #dddddd;
  --main-brightblue: #66fcf1;
  --main-blue: #45a29e;
  --main-darkblue: #42566c;
  --main-lightblack: #382d2d;
  --secondary-color: #eea991;
  --primary-font: "Poppins";
  --secondary-font: "Montserrat Alternates";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--main-darkblue);
  font-family: var(--primary-font), sans-serif;
}

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0.1))
  );
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  position: relative;
}

/* ----------------------------------------------- */
/* TOP NAVIGATION */
/* ----------------------------------------------- */
header {
  color: var(--main-blue);
  background: -o-linear-gradient(left, var(--main-black), #101);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--main-black)),
    to(#101)
  );
  background: linear-gradient(to right, var(--main-black), #101);
  width: 100%;
  min-height: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  position: absolute;
  z-index: 1;
  padding: 15px 10px 0 10px;
  top: -100vh;
  -webkit-animation: dropdown 2s ease forwards;
  animation: dropdown 2s ease forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes dropdown {
  0% {
    top: -100vh;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    top: -100vh;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

h1 {
  font-family: var(--secondary-font), sans-serif;
  font-size: 5rem;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav ul {
  list-style: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--main-blue);
}

.nav a:hover {
  -webkit-animation: navHighlight 1s ease forwards;
  animation: navHighlight 1s ease forwards;
}

.nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  margin: auto;
  content: "";
  color: transparent;
  background: var(--secondary-color);
  height: 1px;
  opacity: 0;
}

.nav a:hover:after {
  width: 100%;
  z-index: -1;
  -webkit-animation: navFill 0.6s forwards;
  animation: navFill 0.6s forwards;
  opacity: 1;
}

.heading-tag {
  font-family: var(--secondary-font), sans-serif;
  color: var(--main-darkblue);
  letter-spacing: 1.5px;
  -webkit-filter: brightness(1.25);
  filter: brightness(1.25);
}

.heading-tag > h3 {
  font-size: 1.8rem;
}

.heading-tag > h4 {
  font-size: 1.2rem;
  padding-top: 5px;
}

@-webkit-keyframes navFill {
  0% {
    width: 0%;
    height: 1px;
  }
  65% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--main-darkblue);
    border-radius: 15px;
  }
}

@keyframes navFill {
  0% {
    width: 0%;
    height: 1px;
  }
  65% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--main-darkblue);
    border-radius: 15px;
  }
}

@-webkit-keyframes navHighlight {
  0% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--main-brightblue);
  }
}

@keyframes navHighlight {
  0% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--main-brightblue);
  }
}

@media (max-width: 700px) {
  header {
    padding: 1.5rem 1rem;
    min-height: auto;
    -webkit-clip-path: none;
    clip-path: none;
    position: relative;
    top: 0;
    -webkit-animation: none;
    animation: none;
  }

  .nav,
  .arrow {
    display: none;
  }
}

/* ----------------------------- */
/* NEXT ARROW */
/* ----------------------------- */
.arrow {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 3.5rem);
}

.arrow a {
  font-size: 5rem;
  color: var(--main-brightblue);
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.arrow a:hover {
  color: var(--secondary-color);
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
footer {
  width: 100%;
  background: var(--main-black);
  text-align: center;
}

footer p {
  padding: 5rem 0 2.5rem 0;
  color: var(--main-blue);
  font-size: 1.4rem;
}

/* ----------------------------------------------- */
/* MENU ON SCROLL */
/* ----------------------------------------------- */
.scroll-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 1rem;
  z-index: 1;
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}

.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* ----------------------------------------------- */
/* SUBMENU */
/* ----------------------------------------------- */
.sub-menu {
  background: var(--main-blue);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 1px 8px var(--main-black),
    0 50px 100px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px var(--main-black), 0 50px 100px rgba(0, 0, 0, 0.4);
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu h3 {
  font-size: 4rem;
  color: var(--main-black);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  font-family: var(--secondary-font), sans-serif;
  margin-right: auto;
  padding: 0 2rem;
}

.sub-menu > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-menu a {
  color: var(--main-black);
  text-decoration: none;
  display: block;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu a:hover {
  background: var(--main-darkblue);
  color: var(--main-brightblue);
  text-shadow: 1px 3px 5px var(--main-black);
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  .sub-menu {
    z-index: 0;
    -webkit-box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.75);
  }
  .sub-menu ul {
    display: none;
  }
}

/* ----------------------------------------------- */
/* SIDEBAR */
/* ----------------------------------------------- */
.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    to(rgba(0, 0, 0, 0.5))
  );
  background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5));
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  border-radius: 0 2rem 2rem 0;
}

.sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

.sidebar li {
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.sidebar a {
  color: var(--main-brightblue);
}

.sidebar a:hover {
  color: var(--secondary-color);
}
