/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Regular.ttf");
}

:root {
  --black: black;
  --blackLight: darkslategrey;
  --white: white;
  --whiteDark: whitesmoke;
  --primaryColor: #45a29e;
  --primaryLight: #66fcf1;
  --primaryDark: #42566c;
  --titleColor: #eea991;
  --secondaryColor: #f78888;

  --primaryFont: "Poppins";
  --secondaryFont: "Montserrat Alternates";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: var(--primaryDark);
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: var(--primaryFont), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  outline: 1px solid var(--primaryDark);
}
